@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

html{
    font-family: 'Open Sans', sans-serif;
}

box {
    display:inline-grid;
    width:200px;
    height:0px;
    background-color:#FFFFFF;
    margin-top: 65px;
}

body {
    background: rgba(0, 0, 0, 1);
    background-image: radial-gradient rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    line-height: 1.5;
    overflow-wrap: break-word;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    <!-- helvetica and segoe are good fonts -->
    text-align: center;
    text-vertical-align: center;
    color: rgb(215, 210, 210);
    margin-bottom: 100px;
}

.button1 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(0, 0, 0, 1);
    background: rgba(184, 99, 0, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 12pt;
    text-transform: initial;
    transition: all 0.4s ease-in-out;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .5);
  }

.button2 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(184, 99, 0, 1);
    background: rgba(120, 152, 95, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal; 
    font-size: 12pt;
    /* text-transform: uppercase; */
    transition: all 0.4s ease-in-out;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .5);
}

.button3 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(184, 99, 0, 1);
    background: rgba(170, 40, 40, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal; 
    font-size: 12pt;
    /* text-transform: uppercase; */
    transition: all 0.4s ease-in-out;
    vertical-align: center;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .5);
}

.button4 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(184, 99, 0, 1);
    background: rgba(162, 154, 197, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal; 
    font-size: 12pt;
    /* text-transform: uppercase; */
    transition: all 0.4s ease-in-out;
    vertical-align: center;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .5);
}

.glow-button1:hover {
    color: #000000;
    background: rgba(170, 40, 40, 1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .5);
    height: 30px;
    width: 225px;
    text-align: center;
}
.glow-button2:hover {
    color: #000000;
    background: rgba(162, 154, 197, 1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .5);
    height: 30px;
    width: 225px;
    text-align: center;
}
.glow-button3:hover {
    color: #000000;
    background: rgba(184, 99, 0, 1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .5);
    height: 30px;
    width: 225px;
    text-align: center;
}
.glow-button4:hover {
    color: #000000;
    background: rgba(120, 152, 95, 1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, .5);
    height: 30px;
    width: 225px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline
    align-content: space-around;
    gap: 10px 100px;
}

.item {
    flex-basis: auto;
}

h1{
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35pt;
    letter-spacing: 4px;
}

.title {
    margin-left: 160px;
    margin-right: 160px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 60px 10px rgba(5, 217, 232, 1);
    transition: all 0.1s ease-in-out;
}

table {
    border-radius: 10%;
    border-spacing: 0px;
    border: 0px;
    border-collapse: collapse;
    align-self: center;
}

thead, tbody {
    background-color: #41374b;
    padding: 15px;
    border-spacing: 0px;
    text-align: left;
    border-bottom: #ddd;
}

th {
    background-color: #2e2735;
    color: darkorange;
}

tr, td {
    height: 80px;
    padding: 15px;
    border-spacing: 0px;
    color: darkgoldenrod;
}

td {
    margin-left: 5%;
}

tr:nth-child(even) {
    background-color: #2a2733;
} 