@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');

.alternate {
    background-color: #D3D3D3;
  }

  .alternate-odd {
    background-color: #a37fde;
  }

box {
    display:inline-grid;
    width:243px;
    height:0px;
    margin-top: 65px;
}

body {
    background: white;
    line-height: 1.5;
    overflow-wrap: break-word;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(215, 210, 210);
    margin-bottom: 100px;
}

.button1 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(0, 0, 0, 1);
    background: rgba(184, 99, 0, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal;
    font-size: 12pt;
    text-transform: initial;
    transition: all 0.4s ease-in-out;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3);
  }

.button2 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(184, 99, 0, 1);
    background: rgba(120, 152, 95, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal; 
    font-size: 12pt;
    /* text-transform: uppercase; */
    transition: all 0.4s ease-in-out;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 150px;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3);
}

.button3 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(184, 99, 0, 1);
    background: rgba(170, 40, 40, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal; 
    font-size: 12pt;
    /* text-transform: uppercase; */
    transition: all 0.4s ease-in-out;
    vertical-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 150px;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3);
}

.button4 {
    text-decoration: none;
    font-family: 'Almarai', sans-serif;
    color: rgba(184, 99, 0, 1);
    background: rgba(162, 154, 197, 1);
    padding: 150px 50px;
    border-radius: 30px;
    font-weight: normal; 
    font-size: 12pt;
    /* text-transform: uppercase; */
    transition: all 0.4s ease-in-out;
    vertical-align: center;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 150px;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3);
}

.glow-button1:hover {
    color: #000000;
    background: rgba(170, 40, 40, 1);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3),
                0px 0px 40px 10px rgb(200 200 200 / 50%);
    height: 0px;
    width: 250px;
    text-align: center;
}
.glow-button2:hover {
    color: #000000;
    background: rgba(162, 154, 197, 1);
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3),
                0px 0px 40px 10px rgb(200 200 200 / 50%);
    height: 0px;
    width: 250px;
    text-align: center;
}
.glow-button3:hover {
    color: #000000;
    background: rgba(184, 99, 0, 1);
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3),
                0px 0px 40px 10px rgb(200 200 200 / 50%);
    height: 0px;
    width: 250px;
    text-align: center;
}
.glow-button4:hover {
    color: #000000;
    background: rgba(120, 152, 95, 1);
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, .3),
                0px 0px 40px 10px rgb(200 200 200 / 50%);
    height: 0px;
    width: 250px;
    text-align: center;
}

a:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
    gap: 10px 100px;
}

.item {
    flex-basis: auto;
}

h1{
    margin-top: 25px;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 35pt;
    letter-spacing: 4px;
    color: black;
    text-align: left;
    margin-left: 100px;
}

.title {
    margin-left: 160px;
    margin-right: 160px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 60px 10px rgba(5, 217, 232, 1);
    transition: all 0.1s ease-in-out;
}

.infotable {
    margin-top: 96px;
    margin-right: 30px;
}

.nav1 {
    text-align: center;
}
.nav2 {
    text-align: center;
}
.nav3 {
    text-align: center;
}
.nav4 {
    text-align: center;
}
.nav5 {
    text-align: center;
}
.nav1:hover {
    background-color: #fc543a;
    height: 0px;
    width: 265px;
}

.nav2:hover {
    background-color: #ff9566;
    height: 0px;
    width: 265px;
}

.nav3:hover {
    background-color: #ffd966;
    height: 0px;
    width: 265px;
}

.nav4:hover {
    background-color: #93c47d;
    height: 0px;
    width: 265px;
}

.nav5:hover {
    background-color: #6fa8dc;
    height: 0px;
    width: 265px;
}

table {
    border-radius: 10%;
    border: 0px;
    border-collapse: collapse;
    align-self: center;
}

thead {
    color: black;
    padding: 15px;
    font-weight: bold;
    text-align: left;
}

th {
    padding-left: 50px;
}

.navbar {
    height: 80px;
    padding: 15px;
    border-spacing: 0px;
}

table.custom-table tr, 
table.custom-table td {
    height: 80px;
    padding: 15px;
    border-spacing: 0px;
}

td {
    width: 265px;
    text-align: center;
    color: black;
    transition: all 0.3s ease-in-out;
    text-align: left;
}

.name {
    width: 40%;
    text-align: left;
}

.desc {
    width: 60%;
    text-align: center;
}